*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 80%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 153, 153);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(103, 107, 108);
    border-radius: 20px;
}

a button {
    background-color: #494747;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  
.container p{
    padding: 10px;
    color: white;
}  