<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baixando vídeos do YouTube</title>
    <link rel="stylesheet" href="../static/css/styleIndex.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/logo.png" alt="Logo">
        <form class="formulario" action="/download" method="post">
          <label for="link">Insira o link do vídeo:</label>
          <div class="form-row">
            <input type="text" id="link" name="link" placeholder="Link">
            <button type="submit">Download</button>
          </div>
        </form>
      </div>      
</body>
</html>
